.quiz_answer_buttons {
  text-align: center;
  padding: 1em;
  color: white;
  cursor: pointer;
  background: var(--poke-blue);
  border: solid transparent 10px;
}

.selected {
  border: solid green 10px;
}

.correct {
  cursor: default;
  background: green;
}

.incorrect {
  cursor: default;
  background: var(--poke-red);
}

.post_selection {
  cursor: default;
}
